#{extends 'main.html'/}

<h1>&{'users'}</h1>

<table border="0" cellspacing="0">
    <thead>
    <tr>
        <th>&{'fullName'}</th>
        <th>&{'birthdate'}</th>
        <th>&{'email'}</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    #{list items:users, as:'user'}
    <tr>
        <td>${user.fullName}</td>
        <td>${user.birthDate?.format()}</td>
        <td>${user.email}</td>
        <td>
            <a href="@{Users.edit(user.id)}">&{'edit'}</a>
            <a href="@{Users.delete(user.id)}">&{'delete'}</a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>

<br/><br/>
<a href="@{Users.edit}">&{'newUser'}</a>